/* Importing the Lato Google Font (Regular and Bold) */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* Basic Style */
body {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    padding: 0;
    margin: 0;
    line-height: 1.5;
    /* background-color: #f4f4f4; */
    background-color: #ebebeb;
}

.container {
    width: 80%;
    margin: auto;
    /* The overflow property determines what to do if content overflows an element's box. Setting overflow to hidden will hide/clip the overflowing content. */
    overflow: hidden; 
}

ul {
    margin: 0;
    padding: 0;
    /* list-style: none; */
}

.btn-1 {
    height: 38px;
    /* background-color: #eb4442; */
    background-color: #b7b7b7;

    border: 15px;
    border-color: #1d4e89;
    padding-left: 20px;
    padding-right: 20px;
    /* padding: 0 20px 0 20px; */
    color: #0d0c0c;
}

.light, .dark {
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.light li {
    margin-left: 20px;
    color: #000000;
    font-size: medium;
}

/* p, .light {
    color: #1d4e89;
} */

.container .light {
    font-weight: bold;
    font-size: 20px;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* color: #1D4E89; */
    color: #026740;
}

.light {
    /* background-color: #e6e6e6; */
    /* background-color: #f1d3ac; */
    /* background-color: #dda448; */
    background-color: #ccc;
    /* color: #2d2b3e; */
    /* color: #4a4a4a; */
    color: #000000;

}

.dark {
    /* background-color: #2d2b3e; */
    /* background-color: #2d2d2d; */
    /* background-color: #b6f9c9;  */
    /* background-color: #ba3712;  */
    /* background-color: #154e89;  */
    /* background-color: #1d4e89;  */
    background-color: #026740;

    /* color: #e6e6e6; */
    color: #fff;
    font-size: large;
    border: 3px solid #4a4a4a;
}





nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  button.link{
    font-size: 30px;
  }
  
  .header {
    background-color: #026740;
    display: flex;
    align-items: baseline;
    padding: .5rem;
    gap: 1rem;
    justify-content: space-evenly;
  }
  
  .link {
    background: none;
    border: none;
    text-decoration: none;
    color:#Bee5bf;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    padding: 0;
    
  }
  
  .dropdown.active > .link,
  .link:hover {
    color: black;
  }
  
  .dropdown {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    margin: 0 10px 0 10px;
  }
  
  .dropdown-menu {
    position: absolute;
    left: 0;
    top: calc(100% + .25rem);
    background-color: white;
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
  }
  
  .dropdown.active > .link + .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }
  
  .information-grid {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 2rem;
  }
  
  .dropdown-links {
    display: flex;
    flex-direction: column;
    gap: .25rem;
  }
  .dropdown-links > a{
    color: #777;
  }
  
  .login-form > input {
    margin-bottom: .5rem;
  }
  
  #highlight{
    font-size: 50px;
  }
  
  .main-set{
    background-color: #488e48;
    display: flex;
    justify-content: center;
    border: black 5px solid;
  }
  
  .card-set {
    background-color: #65d38d;
    width: 22%;
    height: 30%;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
  }
  
  #all-events{
    background-image: url(/Test/NavTest/Photo/download-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  #comming-events{
    background-color: #777;
    background-image: url(/Test/NavTest/Photo/images-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  #popular{
    background-color: red;
    background-image: url(/Test/NavTest/Photo/images-4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }





/* Header */
/* header {
    /* background-color: #2d2b3e; */
    /* background-color: #4b7f52; */
    /* background-color: #026740;  */
    /* color: #Bee5bf; */
    /* Setting min-height so the height for the header section can expand if needed */
    /* min-height: 70px; */
    /* border-bottom: 3px solid #eb4442; */
    /* border-bottom: 3px solid #4a4a4a; */
    /* padding: 5px 0; */

    /* Margin outside border, padding inside border */
    /* MBPC (Outside - in) Margin, Border, Padding, Content */
/* } */

/* header > .container {
    display: flex;
    justify-content: space-between;
} */

/* header ul {
    height: 100%;
    display: flex;
    align-items: center;
}

header li {
    list-style: none;
    padding: 0 20px;
}

header a {
    color: #bee5bf;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
} */

#highlight, #current a {
    color: #bee5bf;
    /* font-weight: 700; */
    font-weight: bold;
}

/* specificity battle */
#current a:hover, a:hover  {
    color: #ccc;
    
    font-weight: bold;
}

/* Showcase */
#showcase {
    min-height: 400px;
    background-image: url("Images/fb.jpg");
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff
}

#showcase h1 {
    margin-top: 100px;
    margin-bottom: 10px;
    font-size: 55px;
}

#showcase p {
    font-size: 20px;
}

/* Newsletter */
#newsletter {
    /* background-color: #b6f9c9; */
    background-color: #bee5bf;
    padding: 15px;
    color: #4a4a4a;
    /* border-bottom: 3px solid #4a4a4a; */
}

#newsletter > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#newsletter input {
    padding: 4px;
    height: 25px;
    width: 250px;
}

/* Boxes */
#boxes {
    margin-top: 20px;
}

/* > = DIRECT child */
#boxes > .container {
    display: flex;
    justify-content: space-between;
}

.box {
    width: 30%;
    text-align: center;
    padding: 10px;
}

i {
    font-size: 225px;
}

.fa-html5 {
    color: #d45632;
}

.fa-css3-alt {
    color: #2d50dc;
}

.fa-js {
    color: #f3df50;
}

/* About */
#about {
    background-color: #1d4e89;
    padding: 20px;
}

#about > .container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 50px;
}

#about .main-col {
    color: #fff;
    /* font-style: ; */
    font-size: 20px;
    
}

#about .sidebar {
    margin-top: 10px;
    
}

/* Services */
#services > .container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 40px;
}

#services li {
    /* border: 1px solid rgb(165, 44, 44); */
    /* border: 1px solid #666; */
    padding: 20px;
    margin-bottom: 5px;
    background-color: #fff;
}

#services .sidebar {
    margin-top: 10px;
    margin-right: 10px;
}

#services input, #services textarea {
    padding: 5px;
    width: 90%;
}

/* Footer */
footer {
    background-color: #026740;
    color: #e6e6e6;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

/* Media Queries */
@media (max-width: 768px) {
    header > .container, 
    #newsletter > .container, 
    #boxes > .container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }

    #showcase .container {
        padding-bottom: 50px;
    }

    .box {
        width: 80%;
    }

    #about > .container,
    #services > .container {
        grid-template-columns: 1fr;
    }
}